doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  link(rel='apple-touch-icon' sizes='76x76' href='../assets/img/apple-icon.png')
  link(rel='icon' type='image/png' href='../assets/img/favicon.png')
  title The Wire Characters
  // Font
  link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700')
  // CSS Files
  link#pagestyle(href='../assets/css/material-dashboard.css' rel='stylesheet')
  link#pagestyle(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css' rel='stylesheet')
  // Material Icons
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons+Round' rel='stylesheet')
  // Font Awesome Icons
  script(src='https://kit.fontawesome.com/42d5adcbca.js' crossorigin='anonymous')
body.g-sidenav-show.bg-gray-200
.main-content.position-relative.max-height-vh-100.h-100
  .container-fluid.px-2.px-md-4
    .page-header.min-height-300.border-radius-xl.mt-4(style="background-image: url('https://images.unsplash.com/photo-1531512073830-ba890ca4eba2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1920&q=80');")
      span.mask.bg-gradient-primary.opacity-6
    .card.card-body.mx-3.mx-md-4.mt-n6
      .row
        .row.d-flex.justify-content-center
          .col-6
            form#new-character-form
              .row.d-flex.justify-content-center
                .col-md-4 
                  .input-group.input-group-static.mb-4
                    label.ms-0(for='select-new-character') Select new character
                    select#select-new-character.form-control(name="select-new-character")
                .col-md-4
                  button.btn.bg-gradient-primary.w-100.my-3 Submit
        .row
          .col-12.mt-4
            .row#characters-container
.position-fixed.bottom-1.end-1.z-index-2
  #success-toast.toast.fade.p-2.bg-white(role='alert' aria-live='assertive' aria-atomic='true')
    .toast-header.border-0
      i.material-icons.text-success.me-2 check
      span#success-toast-title.me-auto.font-weight-bold 
      small.text-body A moment ago
      i.fas.fa-times.text-md.ms-3.cursor-pointer(data-bs-dismiss='toast' aria-label='Close')
    hr.horizontal.dark.m-0
    .toast-body
      span#success-toast-message
  script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js' integrity='sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js' integrity='sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy' crossorigin='anonymous')
  script(src='../assets/js/characters/characters.js' type="module")